@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Philosopher', sans-serif;
  background: linear-gradient(#fcfcfc, #f5e6e1);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

#bottomrow {
  display: flex;
  width: 100vw;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
}

#credit, #notworking {
  font-size: 11px;
  padding: 0.3%;
  color: rgb(138, 117, 111);
}

#notworking {
  text-align: right;
}

a {
  color: rgb(124, 72, 55);
}


.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 65%;
  height: 40%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: 0.5s ease-in-out;
}

#textcontent {
  width: 100%;
  animation: fadeIn 1.5s ease-in;
  animation-iteration-count: 1;
}

#quote, #character, #anime {
  color: rgb(85, 68, 63);
}

#quote {
  font-size: 24px;
  line-height: 1.5em;
  padding: 1.5%;
}

#character {
  color: rgb(165, 95, 72);
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
}

#anime {
  padding: 1.5%;
  text-transform: uppercase;
  font-size: 10px;
  color: rgb(151, 121, 112); 
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
}

button {
  width: 9em;
  padding: 0.8em;
  margin-top: 1.5em;
  background-color: darksalmon;
  border: 0;
  color: white;
  border-radius: 3px;
  font-family: 'Philosopher', sans-serif;
  font-size: 16px;
  transition: 0.5s ease;
  cursor: pointer;
}

button:active {
  transform: scale(0.97);
  background-color: white;
  color: rgb(209, 123, 102);
}

button:hover {
  background-color: rgb(209, 123, 102);
}

#sparklecontainer  {
  display: flex;
  flex-direction: row;
  height: 7%;
  width: 99vw;
  justify-content: space-between;
}

.sparkle {
  animation: sparkleflow 5s infinite;
  color: rgb(236, 161, 135);
  font-size: 12px;
}

.sparkle-small {
  animation: sparkleflow 5s infinite;
  animation-delay: 2s;
  color: rgb(235, 177, 158);
  font-size: 8px;
}

@keyframes sparkleflow {
0% {transform: translateY(0%); opacity: 1;}
100% {transform: translateY(100%); opacity: 0;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }

  @media only screen and (max-width: 375px) {

    #bottomrow {
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }
    
    #credit, #notworking {
      font-size: 9.5px;
      padding: 0.5%;
      color: rgb(138, 117, 111);
    }

    #notworking {
      text-align: center;
      color: rgb(179, 159, 154);
    }
    

  }